<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcdm.foodtraceability.mapper.GoodsMapper">

    <insert id="insertNewGoods" parameterType="com/bcdm/foodtraceability/entity/Goods">
        INSERT INTO `goods`(`goods_id`,
                            `goods_status`,
                            `goods_level`,
                            `company_id`,
                            `goods_type_id`,
                            `supplier_id`,
                            `manufacturer_id`,
                            `goods_name`,
                            `explain`,
                            `raw_material`,
                            `quality_guarantee`,
                            `manufacture_date`,
                            `barcode_number`,
                            `Product_icon`,
                            `create_time`,
                            `update_time`)
        SELECT (#{goodsId},#{goodsStatus},#{goodsLevel},
                #{companyId},#{goodsTypeId},#{supplierId},#{manufacturerId},
                #{goodsName},#{goodsExplain},#{rawMaterial},#{qualityGuarantee},
                #{manufactureDate},#{barcodeNumber},#{ProductIcon},
                #{createTime},#{updateTime});
        FROM DUAL
        WHERE EXISTS (
            SELECT
                X
            FROM `company` a
            WHERE a.company_id = #{companyId}
        )


    </insert>
</mapper>
