<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcdm.foodtraceability.mapper.GoodsMapper">

    <select id="selectGoodsPage" resultType="com.bcdm.foodtraceability.entity.GoodsModel"
            parameterType="com.bcdm.foodtraceability.entity.GoodsModel">
        SELECT
        T1.goods_id AS goodsId,
        T1.goods_status AS goodsStatus,
        T1.goods_level AS goodsLevel,
        T1.company_id AS companyId,
        T1.goods_type_id AS goodsTypeId,
        T1.update_time AS updateTime,
        T1.product_icon AS productIcon,
        T1.manufacture_date AS manufactureDate,
        T1.quality_guarantee AS qualityGuarantee,
        T1.raw_material AS rawMaterial,
        T1.goods_explain AS goodsExplain,
        T1.goods_name AS goodsName,
        T1.manufacturer_id AS manufacturerId,
        T1.supplier_id AS supplierId,
        T1.place_of_production AS placeOfProduction,
        T2.goods_type_name AS goodsTypeName,
        T3.supplier_name AS supplierName,
        T4.manufacturer_name AS manufacturerName,
        T5.barcode_number AS barcodeNumber,
        T6.city_name AS placeOfProductionName
        FROM
        `goods` AS T1
        INNER JOIN
        `goods_type` AS T2
        ON
        T1.goods_type_id = T2.goods_type_id AND
        T1.company_id = T2.company_id
        INNER JOIN
        `supplier` AS T3
        ON
        T1.supplier_id = T3.supplier_id AND
        T1.company_id = T3.company_id
        INNER JOIN
        `manufacturer` AS T4
        ON
        T1.manufacturer_id = T4.manufacturer_id AND
        T1.company_id = T4.company_id
        INNER JOIN
        `city` AS T6
        ON
        T1.place_of_production = T6.city_id
        LEFT JOIN
        `barcode` AS T5
        ON
        T1.goods_id = T5.goods_id
        WHERE T1.company_id = #{goodsModel.companyId}
        <if test="goodsModel != null and goodsModel.goodsName != null and goodsModel.goodsName != ''">
            AND T1.goods_name like CONCAT(#{goodsModel.goodsName},'%')
        </if>
        <if test="goodsModel != null and goodsModel.goodsTypeId != null">
            AND T1.goods_type_id = #{goodsModel.goodsTypeId}
        </if>
        <if test="goodsModel != null and goodsModel.manufacturerId != null">
            AND T1.manufacturer_id = #{goodsModel.manufacturerId}
        </if>
        <if test="goodsModel != null and goodsModel.goodsStatus != null">
            AND T1.goods_status = #{goodsModel.goodsStatus}
        </if>
        <if test="goodsModel != null and goodsModel.supplierId != null">
            AND T1.supplier_id = #{goodsModel.supplierId}
        </if>
        <if test="goodsModel != null and goodsModel.placeOfProduction != null">
            AND T1.place_of_production = #{goodsModel.placeOfProduction}
        </if>
    </select>

    <select id="checkToInsert" parameterType="com.bcdm.foodtraceability.entity.Goods" resultType="Integer">
        SELECT COUNT(1)
        FROM goods_type AS T1
                 INNER JOIN
             supplier AS T2
             ON T1.company_id = T2.company_id
                 INNER JOIN
             manufacturer AS T3
             ON T1.company_id = T3.company_id
                 INNER JOIN
             company AS T4
             ON T1.company_id = T4.company_id
                 INNER JOIN
             city AS T5
        WHERE T1.goods_type_id = #{goodsTypeId}
          AND T2.supplier_id = #{supplierId}
          AND T3.manufacturer_id = #{manufacturerId}
          AND T4.company_id = #{companyId}
          AND T5.city_id = #{placeOfProduction}
    </select>

</mapper>
